<div class="uv-form">
    <div class="uv-element-block">
        <label class="uv-field-label">{{ 'Email'|trans }}</label>
        <div class="uv-field-block">
            <input class="uv-field" type="email" name="_username" value="<%= _username %>">
        </div>
    </div>

    <div class="uv-element-block">
        <label class="uv-field-label">{{ 'Password'|trans }}</label>
        <div class="uv-field-block uv-relative">
            <a class="uv-forgot-pwd" href="{{ path('helpdesk_forgot_account_password') }}" tabIndex="-1">{{ 'Forgot Password?'|trans }}</a>
            <input class="uv-field" type="password" name="_password">
        </div>
    </div>
    
    <button class="uv-btn uv-submit-form" id="uv-btn-with-pass">{{ 'Sign In'|trans }}</button>
</div>
